streamlit==1.31.1
PyMuPDF==1.23.26
PyMuPDFb==1.23.22
spacy==3.8.2
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl
scikit-learn==1.4.0
numpy==1.26.4
pandas==2.2.0